{% extends 'base.html' %}

{% block content %}

{% load board_tags %}

  <section id="message">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h4 class="gray">
            Gráficos estatísticos
          </h4>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">

$(function () {

    Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.4,
                cy: 0.3,
                r: 0.5
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
            ]
        };
    });

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'axis',
            margin: 100,
            type: 'scatter',
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 30,
                depth: 250,
                viewDistance: 5,

                frame: {
                    bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
                    back: { size: 1, color: 'rgba(0,0,0,0.04)' },
                    side: { size: 1, color: 'rgba(0,0,0,0.06)' }
                }
            }
        },
        title: {
            text: 'Acelerômetro'
        },
        subtitle: {
            text: 'Eixo XYZ'
        },
        plotOptions: {
            scatter: {
                width: 10,
                height: 10,
                depth: 10
            }
        },
        yAxis: {
            min: -1,
            max: 1,
            title: null
        },
        xAxis: {
            min: -1,
            max: 1,
            gridLineWidth: 1
        },
        zAxis: {
            min: -1,
            max: 1
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Reading',
            colorByPoint: true,
            data:
            [
              {{axis}}
            ]
        }]
    });


    // Add mouse events for rotation
    $(chart.container).bind('mousedown.hc touchstart.hc', function (e) {
        e = chart.pointer.normalize(e);

        var posX = e.pageX,
            posY = e.pageY,
            alpha = chart.options.chart.options3d.alpha,
            beta = chart.options.chart.options3d.beta,
            newAlpha,
            newBeta,
            sensitivity = 5; // lower is more sensitive

        $(document).bind({
            'mousemove.hc touchdrag.hc': function (e) {
                // Run beta
                newBeta = beta + (posX - e.pageX) / sensitivity;
                newBeta = Math.min(100, Math.max(-100, newBeta));
                chart.options.chart.options3d.beta = newBeta;

                // Run alpha
                newAlpha = alpha + (e.pageY - posY) / sensitivity;
                newAlpha = Math.min(100, Math.max(-100, newAlpha));
                chart.options.chart.options3d.alpha = newAlpha;

                chart.redraw(false);
            },
            'mouseup touchend': function () {
                $(document).unbind('.hc');
            }
        });
    });

});

$(function () {
        $('#heart').highcharts({
            chart: {
              type: 'area',
              zoomType: 'x'
            },
            title: {
                text: 'Monitor Cardiaco',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: {{labelHeart}}
            },
            yAxis: {
                min: 0,
                max: 2047,
                title: {
                    text: 'Frequência'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series:
            [
             {  name: 'Tempo',
                data: {{heart}}
            }]
        });
    });

</script>

  <section id="content">
    <div class="container">

      <div id="axis" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <br><br><br>
      <div id="heart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
  </section>



{% endblock content %}
